<div id="content">
  <div class="card-panel">
    <h4>Sonaty, votre jeu sonore</h4>
    <span class="text-darken-2">
      Ce site est un jeu conçue pour faire développer l'association et l'attention sonore.
      Veuillez imprimer la plaquette A4 avec les pastilles pour jouer.</span>
  </div>


 <div class="main-form">
  <div class="input-field col s12">
    <select id="level" onchange="onChangeLevel()">
      <option selected value="1">Niveau 1</option>
      <option value="2">Niveau 2</option>
    </select>
    <label>Niveau de difficulté</label>
  </div>
 </div>
  
  <div id="actions">
  
    <button type="button" id="start" onclick="start()" class="app-btn waves-effect waves-teal btn-large start visible-when-not-running" >Démarrer</button>

    <button type="button" id="stop" onclick="found()" class="app-btn waves-effect waves-teal btn-large start visible-when-running" >Trouvé</button>

    <button type="button" id="stop" onclick="again()" class="app-btn orange waves-effect waves-teal btn-large start visible-when-running" >Réécouter</button>

 
    <a href="print-items.html" target="_blank" class="app-btn-float btn-floating btn-large waves-effect waves-light  visible-when-not-running"><i
      class="material-icons">local_printshop</i></a>

      <button type="button" onclick="stop()" class="app-btn-float btn-floating btn-large waves-effect waves-light red  visible-when-running"><i
        class="material-icons">stop</i></a>
  </div>
  
  

</div>




  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>J'ai trouvé !</h4>
      <div class="content">
        <img src="" id="img-response"/>
        <span id="response"></span>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" onclick="next()" class="modal-close waves-effect waves-green btn-flat">Suivant</a>
    </div>
  </div>