<!DOCTYPE HTML>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sonaty</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <style>
        @page {
            size: A4
        }

        body.A4 {
            width: 210mm;
            height: 296mm;
        }

        .sheet {
            width: auto !important;
            height: auto !important;
            /*padding: 2.13cm 0cm;*/
            padding-top: 2.0cm;
            padding-right: 0cm;
            padding-left: 1cm;
            text-align: center;
            margin: 0;
        }

        .sheet>.line {
            display: flex;
            width: 20cm;
            /*justify-content: space-between;*/
        }

        .label {
            font-size: 11px;
            font-family: 'Gloria Hallelujah', 'sans-serif';

            width: 40mm;
            height: 15.35mm;
            padding: 3mm;
            display: inline-block;

            display: flex;
            align-items: center;
        }

        .label.empty {
            width: 45.7mm;
            height: 21.35mm;
            padding: 0mm;
        }

        strong {
            font-size: 13px;
        }

        .label span {
            display: block;
        }

        .label>div:first-child {
            flex: 1;
            word-break: break-all;
        }

        .label>div:nth-child(2),
        img {
            width: 19mm;
            height: 19mm;
        }

        .label+.label {
            margin-left: 2.4mm;
        }


        .line.end-page {
            page-break-after: always;
        }

        button.print {
            position: fixed;
            bottom: 0;
            padding: 10px 1em;
            color: white;
            background: orange;
            border: 0;
            cursor: pointer;
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            height: 10vh;
            font-size: 5vh;
        }

        .label img{
            border-radius:3px;
            
            padding: 6px;
        }
        .level-1 img{
            border: 4px solid #ffab00;
        }

        @media print {
            button.print {
                display: none;
            }
        }


        /* .A4.v2 */
        .A4.v2 .sheet {
            padding-bottom: 0.7cm;
            width: 210mm;
            height: 296mm;
        }

        .A4.v2 .label {
            width: 42mm;
            height: 16.35mm;
            padding: 3mm;

        }

        .msg {
            margin: 2px;
        }

        pre.msg {
            font-family: 'Gloria Hallelujah', 'sans-serif';
        }
    </style>


</head>


<body class="A4 v2">
    <section id="sheet" class="sheet padding-5mm">

    </section>


    <button type="button" class="print" onclick="window.print();return false;">Imprimer</button>
    <script>
        const SIZE=24;
        function build(items) {
            const buildLabel = (item) => {

                return ` <div class = "label">
                    <div style="margin-right: 5px;" class="level-${item.level}">
                        <img class="responsive-img" src="${item.image}">
                    </div>
                    </div>`
            };
            const empty = () => {
                return ` <div class="label empty">
                    <div></div>
                    <div></div>
                    </div>`
            };

            let index = 0
            let line = $("<div class='line'></div>")

            items.forEach(i => {
                if ((index > 0) && (index % 4 === 0)) {
                    $("#sheet").append(line)
                    line = $("<div class='line'></div>")
                }

                line.append(buildLabel(i))
                index++;
                if ((index % SIZE) === 0) {
                    line.addClass('end-page');
                }
            })

            var resteDivisionEuclidienne = (index) % 4;
            console.log(`index : ${index}, reste : ${resteDivisionEuclidienne}`)
            if (resteDivisionEuclidienne > 0) {
                for (var i = 0; i < (4 - resteDivisionEuclidienne); i++) {
                    line.append(empty());
                }
            }
            $("#sheet").append(line)
        }

        (function(){
        fetch('/data.json')
    .then(d => d.json()).then(data => window.build(data.items))})();
    </script>
</body>

</html>